*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    background: transparent;

}
body{
    background-color: rgb(255, 250, 250);
    color: black;
    overflow: hidden;
    overflow-y: scroll;
}
