.intro{
    
    height: calc(100vh - 4rem);
    width: 100vw;
    max-width: 75rem;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    
    
}
.myimg{
    background-color: antiquewhite;
    position: absolute;
    top: 1rem;
    right: 0;
    z-index: -1;
    object-fit: cover;
    height: 80vh;
    border-radius: 10rem;
}
.contant{
   
    width: 100vw;
    height: 100vh;
    padding: 6rem;
    font-size: 3rem;
    font-weight: 700;
    display: flex;
    justify-content: center;
    flex-direction: column;

}
.hello{
    font-size: 1.75rem;
    font-weight: 100;
}
.myname{
    color:rgb(245, 123, 143);
}
.intropara{
    font-size: medium;
    font-weight: 100;
}
.btn{
     background-color: rgb(245, 123, 143);
     border: none;
     padding: 0.5rem 1.5rem;
     border-radius: 2rem;
     color: white;
}
